@charset "utf-8";
.singleE {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body {
  font-size: 20px;
}
.inputWrapper label {
  display: inline-block;
}
.inputWrapper input {
  height: 30px;
  padding: 5px;
  border: #c8c8c8 1px solid;
  border-radius: 6px;
}
.input-s {
  width: 90px;
}
.input-m {
  width: 200px;
}
.input-l {
  width: 500px;
}
